In [2]:
pro<-read.csv("hw1_data.csv")

In [5]:
colnames(pro)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [7]:
pro[1:2,]

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

In [11]:
nrow(pro)

[1] 153

In [17]:
pro[-(1:150),]

    Ozone Solar.R Wind Temp Month Day
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [18]:
pro[47,]

   Ozone Solar.R Wind Temp Month Day
47 21    191     14.9 77   6     16

In [25]:
sum(is.na(pro$Ozone))

[1] 37

In [32]:
mean(pro[!is.na(pro$Ozone),]$Ozone)

[1] 42.12931

In [46]:
mean(pro[pro$Ozone>31 & pro$Temp>90 & !is.na(pro$Ozone) & !is.na(pro$Temp),]$Solar.R)

[1] 212.8

In [51]:
mean(pro[pro$Month==6 & !is.na(pro$Month),]$Temp)

[1] 79.1

In [56]:
max(pro[pro$Month==5 & !is.na(pro$Ozone),]$Ozone)

[1] 115

In [55]:
pro[pro$Month==5 & !is.na(pro$Month),]

   Ozone Solar.R Wind Temp Month Day
1   41   190      7.4 67   5      1
2   36   118      8.0 72   5      2
3   12   149     12.6 74   5      3
4   18   313     11.5 62   5      4
5   NA    NA     14.3 56   5      5
6   28    NA     14.9 66   5      6
7   23   299      8.6 65   5      7
8   19    99     13.8 59   5      8
9    8    19     20.1 61   5      9
10  NA   194      8.6 69   5     10
11   7    NA      6.9 74   5     11
12  16   256      9.7 69   5     12
13  11   290      9.2 66   5     13
14  14   274     10.9 68   5     14
15  18    65     13.2 58   5     15
16  14   334     11.5 64   5     16
17  34   307     12.0 66   5     17
18   6    78     18.4 57   5     18
19  30   322     11.5 68   5     19
20  11    44      9.7 62   5     20
21   1     8      9.7 59   5     21
22  11   320     16.6 73   5     22
23   4    25      9.7 61   5     23
24  32    92     12.0 61   5     24
25  NA    66     16.6 57   5     25
26  NA   266     14.9 58   5     26
27  NA    NA      8.0 57   5     27
28  23    13     12.0 67   5     28
29  45   252     14.9 81   5     29
30 115   223      5.7 79   5     30
31  37   279      7.4 76   5     31