In [30]:
set.seed(13435)
X<-data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
X
X<-X[sample(1:5),]; X$var2[c(1,3)]=NA
X

  var1 var2 var3
1 3     8   14
2 1     7   15
3 5     6   13
4 4    10   12
5 2     9   11

  var1 var2 var3
5 2    NA   11
4 4    10   12
1 3    NA   14
2 1     7   15
3 5     6   13

In [35]:
X[which(X$var2>8),]

  var1 var2 var3
4 4    10   12

In [40]:
library(reshape2)
head(mtcars)
mtcars$carname<-rownames(mtcars)
carMelt<-melt(mtcars,id=c("carname","gear","cyl"),measure.vars = c("mpg","hp"))
head(carMelt,n=3)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  carname
Mazda RX4         Mazda RX4
Mazda RX4 Wag     Mazda RX4 Wag
Datsun 710        Datsun 710
Hornet 4 Drive    Hornet 4 Drive
Hornet Sportabout Hornet Sportabout
Valiant           Valiant

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [41]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [42]:
readRDS("chicago.rds")

Warning message in gzfile(file, "rb"):
"cannot open compressed file 'chicago.rds', probable reason 'No such file or directory'"

ERROR: Error in gzfile(file, "rb"): cannot open the connection